.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    justify-content: flex-start;
    background-color: #FAFAFA;
}
.logo-menu{
    height: 60px;

}

.headerTest{
    background-color: gray;
    display: flex;
    align-content: space-between;
    align-items: center;
}

.menu-bar{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 70px;
    padding: 10px 20px;
    margin-top: 10px;
}

.menu-title{
    color: black;
    font-size: 20px;
}

.menu-layout{
    min-height: 100vh;
}

.graphic-container{
    display: flex;
    flex-direction: column;
}

.legend{
    display: flex;
    justify-content: center;
    border: 2px solid red;
}
.legend-title{
    border: 2px solid black;
    text-align: center;
    margin: 10px;
    font-size: 20px;
}
.legend-aviable{
    border: 1px solid black;
    border-radius: 50px;
    background-color: #01B9A0;
    padding: 5px;
    margin: 5px;

}
.legend-unaviable{
    border: 1px solid black;
    border-radius: 50px;
    background-color: #2473E1;
    padding: 5px;
    margin: 5px;
}